paddle
paddle.nn
Conv2D, MaxPool2D, AdaptiveAvgPool2D, Linear, ReLU, BatchNorm2D
paddle.nn.functional 
paddle
Conv2D, Linear, Embedding
to_tensor
os, zipfile
io, random, json
Numpy
matplotlib.pyplot 
Image
Sys